* {
    margin: 0;
    padding: 0;
    font: 14px;
}

body {
    text-align: center;
}

.nav {
    width: 100%;
}

input {
    display: block;
    margin: 10px auto;
    height: 100px;
    width: 400px;
}

.answerArea {
    height: 150px;
    width: 400px;
}